.shadow {
    text-shadow: black 0.1em 0.1em 0.2em;
}
.text-primary {
  color: #00af85;
}
.btn-primary {
  color: white;
  background-color: #00af85;
  border-color: #00af85;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #00af85;
  border-color: #00af85;
}
.btn-primary .badge {
  color: #00af85;
  background-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #00af85;
}
.bg-primary {
  background-color: #17101d;
}
.navbar-default .navbar-header .navbar-brand {
  color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #00af85;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #00af85 !important;
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #00af85;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #271428;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #00af85;
  }
}
hr {
  border-color: #00af85;
  border-width: 3px;
  max-width: 50px;
}
.text-align-left {
  text-align: justify;
}
.bg-back {
  background-color: #00C89C;
}
.text-white {
  color: white;
}
.btn-dark-blue {
    color: white;
    background-color: #1f1323;
}
.black {
  z-index: 2;
  color: #fff;
  background-color: #1F1323;
  border-color: #1F1323;
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.avatar {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dots, .days, .hours, .minutes, .seconds {
    font-size: 6.7rem;
    color: #ecf0f1;
    text-shadow: 7px 7px 15px #000;
    opacity: 1;
}
