/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 320px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.timer {
  width:24.4333%;
  font-size: 50px;
  display:inline-block;
  text-align:center;
  /*margin-top: 20%;*/
}

.dots, .days, .hours, .minutes, .seconds {
  font-size: 8.7rem;
  color: #ecf0f1;
  text-shadow: 7px 7px 15px #000;
  opacity: 1;
}

.shadow {
  text-shadow: 4px 3px 5px #000;
}
.teal {
  background-color: black !important;
}
.text-red {
  color: red;
}

.justify-align {
  text-align: justify;
}

.countdown{
    margin-top: 6rem;
}

/**
 * Responsivo
 **/
 @media only screen and (max-width: 769px) {

    .dots, .days, .hours, .minutes, .seconds{
        font-size: 6rem;
    }

    .countdown{
        margin-top: 4rem;
    }

    .timer{
        width: auto;
        padding: 2px;
        font-size: 3rem;
    }

 }

@media only screen and (max-width: 481px) {

  .dots{
      display: none;
  }

   nav .brand-logo{
       font-size: 1.5rem;
   }

   .dots, .days, .hours, .minutes, .seconds{
       font-size: 4rem;
   }

   .countdown{
       margin-top: 4rem;
   }

   .timer{
        width: 23%;
        padding: 2px;
        font-size: 2rem;
   }

   .parallax-container .section {
       position: absolute;
       top: 8rem;
   }

   p{
       padding: 4px;
   }
}

@media only screen and (max-width: 241px) {
   nav .brand-logo{
       font-size: 1rem;
   }

  .dots, .days, .hours, .minutes, .seconds{
      font-size: 3.5rem;
  }

    .container .row {
        margin-left: 0;
        margin-right: 0;
    }

    .parallax-container .section {
        position: absolute;
        top: 3rem;
    }

  .countdown{
      margin-top: 2rem;
  }

  .timer{
      width: auto;
      padding: 2px;
      font-size: 2rem;
  }
}
