/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 320px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.timer {
  width:24.4333%;
  font-size: 50px;
  display:inline-block;
  text-align:center;
  margin-top: 20%;
}

.dots, .days, .hours, .minutes, .seconds {
  font-size: 150px;
  color: #ecf0f1;
  text-shadow: 7px 7px 15px #000;
  opacity: 1;
}

.shadow {
  text-shadow: 4px 3px 5px #000;
}

.myTextSize {
  font-size: 50px;
}
.teal {
  background-color: black !important;
}
.text-red {
  color: red;
}
.justify {
  text-align: justify;
}
